*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPage{
    border: 2px solid black;
    background-color: aquamarine;
     width: 400px;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
h2{
    text-align: center;
    margin-bottom: 50px;

}
.form_container{
    background-color: bisque;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 button{
    margin-left: 100px;
 }
  
 
